* {
  box-sizing: border-box;
}

.border {
  margin: 0 auto;
  width: 600px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------header---------- */

.header {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 221, 20, 0.829);
}

.header div {
  width: 33%;
  position: relative;
  top: -10px;
}

.header div:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

.header div:last-child {
  display: flex;
  justify-content: end;
}

.search {
  width: 95%;
  height: 40px;
  position: relative;
  top: -20px;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.search form {
  width: 100%;
}

.search input {
  border: none;
  opacity: 0.5;
  font-size: 25px;
  margin-left: 15px;
  width: 90%;
}

.search input:focus {
  border: white;
  background-color: thistle;
  transition: border-color 1s ease-in-out gold;
}

/* ----------main---------- */

.main {
  width: 100%;
  padding: 10px;
}
.title {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
}

.book {
  height: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.book img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

/* ----------Book of the day---------- */

.bod__cover {
  width: 40%;
}

.bod__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bod__info > div:first-child {
  font-family: cursive;
  font-size: 40px;
  font-weight: 600;
}

.bod__info > div:nth-child(2) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.bod__info > div:nth-child(3) {
  color: gold;
}

.bod__info > div:nth-child(4) {
  display: flex;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.bod__info > div:nth-child(4) > div {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 236, 240);
  opacity: 0.5;
}

.bod__info > div:last-child {
  display: flex;
  justify-content: space-evenly;
}

.bod__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gold;
}

.bod__book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
}

/* ----------Top Adventures---------- */

/* ----------Popular authors---------- */

.authors__cover {
  width: 40%;
}

.authors__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: Arial, Helvetica, sans-serif;
}

.authors__info > div:first-child {
  font-size: 25px;
  margin: 10px 0px;
}

.authors__info > div:last-child {
  font-size: 15px;
  margin: 10px 0px;
  line-height: 50px;
  opacity: 0.5;
}
