.staus-bar > a:last-child {
  display: none;
}

* {
  /* outline: 2px solid pink; */
}

.singer {
  width: 350px;
  position: fixed;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 3;
}

.singer-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../img/common.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  box-shadow: 0 15px 15px 0 var(--pink-color);
}

.singer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singer-name__bts {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.singer-name > span:last-child,
.MusicAlbum-inner__title > span:last-child {
  font-size: 13px;
  font-weight: 600;
  color: var(--gray-color);
  margin-bottom: 40px;
}

.btn {
  display: flex;
  margin-bottom: 20px;
}
.btn > span {
  border-radius: 30px;
}
.btn > span > a {
  display: flex;
  width: 110px;
  height: 40px;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: all 0.5s;
}
.btn__shuffle {
  background-color: var(--point-color);
  margin-right: 20px;
  color: white;
}
.btn__shuffle:hover > a {
  background-color: tomato;
}
.btn__heart:hover {
  background-color: tomato;
}
.btn__heart {
  background-color: white;
  transition: all 0.7s;
}
.btn__heart:hover > a > i,
.btn__heart:hover > a > span {
  color: white;
}
.btn__heart > a > i {
  margin-right: 5px;
}

.MusicList {
  margin-top: 350px;
  width: 100%;
  height: 320px;
  /* overflow: hidden; */
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 30px;
  padding-top: 10px;
}
.MusicList::-webkit-scrollbar {
  display: none;
}
.MusicList-title {
  margin: 0 10px;
  border-radius: 20px;
}
.MusicList-title > div {
  padding: 0 15px;
}

.album-slide {
  align-items: center;
  display: flex;
  justify-content: start;
  padding: 10px 10px;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.album-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20px;
}
.album-slide > i {
  margin-left: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
}
.album-img,
.MusicAlbum-inner__img {
  background-repeat: no-repeat;
  background-size: cover;
}

.img1,
.Album-img01 {
  background-image: url("../img/slide1.jpg");
}
.img2,
.Album-img02 {
  background-image: url("../img/slide2.jpg");
}
.img3,
.Album-img03 {
  background-image: url("../img/slide3.jpg");
}
.img4,
.Album-img04 {
  background-image: url("../img/slide6.png");
}
.img4 {
  background-position-x: 40%;
}
.img5 {
  background-position-x: 40%;
}
.img5,
.Album-img05 {
  background-image: url("../img/slide7.jpg");
}
.img6,
.Album-img06 {
  background-image: url("../img/slide2-2.jpg");
}
.img7,
.Album-img07 {
  background-image: url("../img/slide8.jpg");
}

.album-text__bts {
  font-size: 13px;
  margin-bottom: 5px;
}
.album-text {
  width: 75%;
}
.album-text__name {
  font-weight: 700;
  font-size: 16px;
}

/* --------------------------------------------- */

.playlist > .control-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 15px;
  width: 320px;
  height: 60px;
  background-color: var(--point-color);
  border-radius: 30px;
  padding: 0 25px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.control-box__title2 {
  line-height: 60px;
}
.control-box__title2,
.control-box__title > div:last-child,
.control-box__play > i {
  color: white;
}
.control-box__title {
  height: 60px;
  width: 200px;
  position: absolute;
  top: 0;
  padding-top: 13px;
}
.control-box__control__name {
  position: relative;
}
.play {
  display: block;

  /* position: absolute; */
}
.pause {
  display: none;
  position: relative;
}
.play > i {
  color: white;
  position: absolute;
  top: 0px;
  left: 35px;
  font-size: 18px;
}
.control-box__play {
  width: 80px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
}
.control-box__play > span {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-box__control {
  width: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  position: relative;
}
.pause {
  width: 4px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
}
.pause:first-child {
  margin-right: 3px;
}

.control-box__title__bts {
  font-size: 13px;
  color: var(--gray-color);
}

.control-box__title__Name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 6px;
}

/* --------------------------hover----------------- */
.control-box__title {
  display: none;
}
.boxShadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

/* 애니메이션 */
.animation {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animation__anibar {
  display: inline-block;
  width: 4px;
  height: 6px;
  border-radius: 1px;
  background-color: white;
  margin-left: -2px;
  transform: scaleY(1);
  animation: ani 0.8s infinite;
}
.animation__anibar:nth-child(1) {
  animation-delay: 0;
}
.animation__anibar:nth-child(2) {
  animation-delay: 0.1s;
}
.animation__anibar:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes ani {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.5);
  }
  100% {
    transform: scaleY(1);
  }
}
