@charset "uft-8";

@import "./reset.css";
@import "./components/status-bar.css";

@import "./playlist.css";
@import "./musicbar.css";

:root {
  --main-color: rgb(247, 231, 204);
  --gray-color: rgb(156, 156, 156);
  --point-color: rgb(49, 49, 49);
  --pink-color: rgba(245, 189, 202, 0.5);
  --h1-font-size: 30px;
  --korean-font: "Gowun Dodum", sans-serif;
}

* {
  color: #333;
  box-sizing: border-box;
}
body:not(.control-box) {
  font-family: "Gowun Dodum", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  position: fixed;
}

.mainbody {
  width: 800px;
  display: flex;
}

.playlist,
.musicbar {
  width: 350px;
  height: 720px;
  background-color: white;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.playlist {
  position: relative;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}
